.main-menu{
    

    .MuiDrawer-paper{
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #F2F2F2;
    }

    .header-line{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: #3E73A8;

        .logo{
            width: 130px;
        }

        .close{
            width: 25px;
            position: relative;
            left: 25px;
            cursor: pointer;

            img{
                width: 100%;
                height: auto;
                transform: rotate(90deg);
            }
        }
    }

    .guest-link{
        margin-bottom: 20px;
        text-align: center;
        text-decoration: underline;
        color: #F24130;
    }

    ul{
        li{
            padding: 20px;
            color: #6A6A6A;
            cursor: pointer;

            &.active{
                color: #F24130;
            }

            img{
                width: 25px;
                height: auto;
                vertical-align: middle;
            }

            span{
                padding-left: 20px;
                vertical-align: middle;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}