.temp-access{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 80px 10px 0;

    .section-header{
        @media(max-width: 950px){
            flex-wrap: wrap;

            .date-range{
                width: 100%;
                margin-top: 15px;

                @media(max-width: 680px){
                    padding: 0;

                    .picker-wrapp{
                        width: 100%;
                        margin: 10px 0 10px;

                        .date-header-label{
                            display: inline-block;
                            min-width: 42px;
                        }
                    }
                }
            }
        }

        .title h3{
            margin-left: 0;
        }
    }
    
    .temp-access-content{
        padding-top: 30px;

        .table{
            max-width: 600px;
            margin: 50px auto 30px;
            padding: 20px;
            background-color: #f2f2f2;
    
            .label{
                text-align: center;
                margin-bottom: 30px;
                font-size: 18px;
                color: #000333;
            }
        }
    }

    .date-range{
        @media(max-width: 768px){
            padding: 0 10px;
        }
    }
}

.date-range{
    @media(max-width: 768px){
        flex-wrap: wrap;
        padding-left: 0;
    }
}

.picker-wrapp .react-datepicker-wrapper{
    @media(max-width: 450px){
        width: 200px;
    }
}