.data-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .data-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .chart-container{
        padding-top: 50px;
    }
}

.pickers{
    display: inline-block;
    position: relative;
}