.device-config-container{
    padding-top: 20px;

    .device-config{
        .device-details{
            padding-top: 20px;
            
            .row{
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media(max-width: 500px){
                    flex-wrap: wrap;
                }

                .type-select{
                    margin-bottom: 20px;

                    @media(max-width: 500px){
                        width: 100%;
                        display: block;

                        .date-header-label{
                            display: inline-block;
                            width: 81px;
                            font-size: 14px;
                        }
                    }

                    input{
                        @media(max-width: 450px){
                            width: calc(100% - 91px);
                        }
                    }
                }

                span:last-child{
                    color: #F24130;
                }
            }
        }

        .device-channels{
            padding-top: 20px;
            
            .label{
                font-size: 18px;
                color: #6A6A6A;
            }

            .name{
                font-size: 16px;
                color: #000333;
            }

            .row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                padding-left: 15px;

                @media(max-width: 700px){
                    flex-wrap: wrap;
                    padding-left: 0;
                    padding-top: 15px;
                }

                .type-select{
                    @media(max-width: 700px){
                        width: 100%;
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .buttons{
        padding-top: 20px;
        text-align: center;

        button{
            margin: 0 7.5px;
        }
    }
}