.main-header{
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #3E73A8;
    z-index: 200;

    .guest-label{
        padding-right: 30px;
        font-size: 18px;
        font-weight: 800;
        color: #fff;
    }

    .header-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;

        @media(max-width: 600px){
            a{
                display: none;
            }
        }
    }

    .menu{
        display: inline-block;
        width: 25px;

        img{
            width: 100%;
            height: auto;
        }

        cursor: pointer;
    }

    .logo{
        width: 180px;
        height: 100%;
        padding-left: 20px;

        img{
            width: 100%;
            height: auto;
            margin-top: 10px;
        }
    }

    .header-controls{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user{
        padding-right: 30px;
        text-align: right;
        font-weight: bold;
        color: #fff;

        .user-name{
            font-size: 18px;
        }

        .user-role{
            font-size: 12px;
        }
    }

    .logout{
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F24130;

        img{
            width: 25px;
            height: auto;
        }
    }
}