.alert-section{
    margin-bottom: 45px;
    
    .buttons{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        padding-top: 30px;
        text-align: center;

        button{
            margin: 0 7.5px;
        }

        @media(max-width: 950px){
            position: static;
            transform: none;
        }
    }
}

.alerts{
    .alert-item{
        width: 100%;
        max-width: 600px;
        margin-top: 15px;
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        background-color: #fff;
        font-family: 'PT Sans', sans-serif;
        
        @media(max-width: 450px){
            padding-left: 8px;
            padding-right: 8px;
        }

        &:first-child{
            margin-top: 0;
        }

        .label{
            font-size: 18px;
            color: #6A6A6A;

            @media(max-width: 768px){
                font-size: 15px;
            }

            @media(max-width: 450px){
                font-size: 13px;
            }
        }

        .actions{
            position: relative;
            min-width: 100px;
            padding-left: 10px;
            top: -3px;

            .last-seen{
                font-size: 14px;
                color: #6A6A6A;

                @media(max-width: 768px){
                    font-size: 12px;
                }
            }

            .expand-btn{
                display: inline-block;
                position: relative;
                margin-left: 10px;
                height: 20px;
                top: 5px;

                img{
                    width: 20px;
                    height: auto;
                }
            }
        }
    }
}